body {
  margin: 10px;
  min-height: 90vh;
  background-color: lavender;
}

a {
  text-decoration: none;
  color: rgb(158, 158, 212);
  /*border: 1px solid black;*/
}

.heading {
  margin: 0;
  margin-bottom: min(2vh, 2vw);
  font-size: min(6vh, 6vw);
  color: rgb(158, 158, 212);
  border: 1px solid black;
}
.intro {
  margin: 0;
  color: rgb(158, 158, 212);
  border: 1px solid black;
}

/* FONTS */
.montserrat-normal {
  font-family: "Montserrat", sans-serif;
  font-size: min(3vh, 3vw);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.montserrat-italic {
  font-family: "Montserrat", sans-serif;
  font-size: min(2.5vh, 2.5vw);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}