*{
    box-sizing: border-box;
}    
body {
    margin: 0;
    padding: 0;
    background-color: #d3d3ff;
    width: 100vw;
    overflow-x: hidden;
}
h1 {
    font-family: "Amatic SC"; /*"Cedarville Cursive";*/
    font-weight: 900;
    margin: 0;
    font-size: 8vh;
    color: #ffffff;
}
h2 {
    font-family: "Cedarville Cursive", serif;
    font-weight: 400;
    font-style: normal;
}
h3 {
    font-family: "Cedarville Cursive", serif;
    font-weight: 700;
    font-style: normal;
    color:#3939a9;
}
h4 {
    font-family: 'Courier New', Courier, monospace;
}
a {
    text-decoration: none;
    color: #ffffff;
}
/*a:hover {
    color: #F1C1BD;

}
a:active {
    color: #DFDADE;
}*/

div {
    border: 1px solid green;
    float: center;
    margin: 1vh 1vw;
    padding: 1vh 3vw; /*top right bottom left*/
}

#parent {
    justify-content: center;
    margin: 0 auto;
    padding: 1vh 1vw;
}

#seiu {
    background: linear-gradient(0.95turn, #b31942, #c05572, #dca4b3, #f1d9df, #d4deed, #93abca, #4770a2, #0a3161); /* #ffffff,*/
}


#header, #footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 10vh;
}